* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  position: relative;
  font-size: 1em;
  font-family: "Poppins", Tahoma, sans-serif;
}

/* LOADER */
#loading {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-loader {
  animation-name: loader;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes loader {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

/* HEADER */

nav {
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.brand {
  font-family: "Abril Fatface", cursive;
  color: rgb(8, 8, 151);
  font-size: 1.6em;
}

.header-ul {
  display: flex;
}
.header-ul li {
  margin: 0 20px;
  color: black;
  font-weight: bolder;
  transition: all 0.5s;
}

.header-ul li:hover {
  color: #080897;
  transform: scale(1.2, 1.2);
}

header nav li:first-child {
  margin-left: 0px;
}

header nav li:last-child {
  margin-right: 0px;
}
.sign-up {
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.sign-up .log-in {
  transition: all 0.5s;
}

.sign-up .log-in:hover {
  color: rgb(8, 8, 151);
  transform: scale(1.3, 1.3);

  font-weight: bolder;
}

.link-btn {
  margin-left: 30px;
  width: auto;
  background-color: rgb(8, 8, 151);
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  transition: all 0.5s;
}

.sign-up .link-btn:hover {
  transform: scale(1.3, 1.3);
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: blue;
  font-size: 25px;
  cursor: pointer;
  display: none;
}

.hamburger:hover {
  border: black 2px solid;
  padding: 5px;
  border-radius: 5px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  nav {
    min-height: 90px;
  }

  .brand {
    font-size: 1.4em;
  }

  header nav li {
    font-size: 0.95em;
    margin: 0 15px;
  }

  header .link-btn {
    padding: 8px 15px;
  }
}

@media screen and (max-width: 765px) {
  nav {
    justify-content: space-between;
    padding-top: 20px;
  }
  .hamburger {
    display: block;
    margin-right: 30px;
  }

  .brand {
    margin-left: 30px;
  }

  .header-ul {
    background-color: rgb(8, 8, 151);
    font-weight: bolder;
    border-bottom: 1.5px solid white;
    border-top: 2px solid rgb(8, 8, 151);
    padding: 10px 0;
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
  }

  .header-ul li {
    color: white;
    padding: 15px;
    border-bottom: 2px solid white;
  }

  .header-ul li:last-child {
    border-bottom: none;
  }

  .sign-up {
    display: none;
    flex-direction: column;
    width: 100%;
    padding: 8px 0;
    font-weight: bolder;
    border-bottom: 2px solid rgb(8, 8, 151);
  }
  .header-ul li:hover {
    transform: scale(1.1, 1.1);
    color: yellow;
  }

  .header-ul li {
    margin: 0;
    padding-bottom: 20px;
  }

  .header-ul.show,
  .sign-up.show {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .sign-up .link-btn {
    margin: 0;
    padding: 8px 15px;
    margin: 15px 0;
  }
}

/* MAIN BODY */

main {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

main::after {
  content: "";
  width: 100%;
  height: 500px;
  background-image: linear-gradient(
    90deg,
    transparent,
    rgb(8, 8, 151),
    transparent
  );
  position: absolute;
  opacity: 0.15;
  left: -20;
}

/* main text */

.main-text {
  width: 45%;
  height: 80%;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}

.main-text h5 {
  color: rgb(8, 8, 151);
  padding-bottom: 5px;
}

.main-text p {
  font-size: 1.5em;
}

.main-text h6 {
  margin: 5px 0;
  width: 80%;
  font-size: 0.8em;
  color: inherit;
}

.main-btns {
  margin-top: 20px;
}

.main-btn {
  margin: 0;
  margin-right: 10px;
}
.s-main-btn {
  margin: 0;
  width: auto;
  font-weight: 550;
  background-color: transparent;
  border: rgb(202, 202, 202) 1.4px solid;
  padding: 10px 20px;
  color: rgb(8, 8, 151);
  border-radius: 10px;
}

.s-main-btn:hover {
  background-color: rgb(8, 8, 151);
  color: white;
}

/*  main images */

.main-images {
  width: 50%;
  height: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.circle {
  opacity: 0.5;
  position: absolute;
  height: 300px;
}

.dotted {
  position: absolute;
  height: 280px;
  width: 280px;
  left: 0;
  top: 200px;
}

.m-image {
  position: absolute;
  height: 480px;
}

@media screen and (min-width: 768px) and (max-width: 970px) {
  main,
  main::after {
    height: 400px;
  }

  .main-text {
    width: 40%;
    height: 450px;
    padding: 0;
  }

  .main-text h5 {
    font-size: 0.75em;
  }

  .main-text h1 {
    font-size: 1.55em;
  }

  .main-text p {
    font-size: 1.05em;
  }

  .main-text h6 {
    font-size: 0.65em;
    width: 80%;
  }

  .main-btns {
    margin-top: 15px;
  }

  .main-btn,
  .s-main-btn {
    padding: 6px 13px;
  }

  /* main images */
  .main-images {
    width: 50%;
    height: 70%;
  }

  .circle {
    height: 250px;
    top: 70px;
  }

  .dotted {
    height: 250px;
    width: 250px;
  }

  .m-image {
    height: 380px;
    top: 20px;
  }
}

@media screen and (max-width: 765px) {
  main,
  main::after {
    height: 500px;
  }
  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main::after {
    background-image: none;
  }
  .main-text {
    width: 100%;
    height: 200px;
    padding: 0;
    padding-top: 15px;
    border-top: 3px rgb(8, 8, 151) solid;
    text-align: center;
  }

  .main-text h5 {
    font-size: 0.8em;
    padding-bottom: 3px;
  }

  .main-text h1 {
    font-size: 1.6em;
  }

  .main-text p {
    font-size: 1.1em;
  }

  .main-text h6 {
    margin-top: 10px;
    font-size: 0.65em;
    width: 100%;
    padding: 0 50px;
  }

  .main-btns {
    margin-top: 15px;
  }

  .main-btn,
  .s-main-btn {
    padding: 5px 15px;
  }

  /* main images */
  .main-images {
    width: 30%;
  }

  .circle {
    height: 250px;
    top: 70px;
  }

  .dotted {
    height: 200px;
    width: 200px;
  }

  .m-image {
    height: 380px;
    top: 20px;
  }
}

@media screen and (max-width: 500px) {
  .main-text .main-images {
    width: 20%;
  }

  .circle {
    height: 220px;
  }

  .dotted {
    height: 170px;
    width: 170px;
  }

  .m-image {
    height: 320px;
  }
}

/* Details */

.details {
  height: auto;
  width: 100%;
  display: grid;
  place-items: center;
  text-align: center;
}

.details-text {
  margin: 30px 0;
  width: 60%;
}
.details-desc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.details-card {
  margin: 30px;
  width: 31%;
}

.details-card img {
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 970px) {
  .details {
    font-size: 0.8em;
  }

  .details-card {
    border: 2px solid black;
    width: 30%;
    height: auto;
    padding: 10px 20px;
  }

  .details-text h2 {
    margin-bottom: 7px;
  }
}

@media screen and (max-width: 640px) {
  .details-desc {
    flex-direction: column;
  }

  .details-text {
    padding-bottom: 10px;
    border-bottom: 3px solid red;
  }

  .details-card {
    margin: 13px;
    border: 2px solid black;
    width: 300px;
    height: auto;
    padding: 10px 20px;
  }

  .details-card img {
    width: 60px;
    height: 60px;
  }
}

/* download */
.download {
  height: auto;
  width: 100%;
  background-color: rgb(230, 227, 227);
}

.download-all {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.download-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
.download-card img {
  width: 400px;
  height: 400px;
}

.download-details {
  margin-top: 20px;
}

.download h1 {
  margin-bottom: 10px;
}

.download-btn {
  background-color: white;
  width: 300px;
  padding: 10px 15px;
  border-radius: 5px;
  margin-right: 10px;
}

.download-card .link-btn {
  margin-left: 0%;
}

@media screen and (max-width: 980px) {
  .download-card {
    justify-content: space-around;
    width: 100%;
    padding: 15px;
    font-size: 0.9em;
  }
  .download-card img {
    width: 300px;
    height: 300px;
  }

  .download h1 {
    font-size: 1.3em;
  }

  .download-btn {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 630px) {
  .download-card {
    width: 100%;
    font-size: 0.8em;
    padding: 15px;
  }
  .download-btn {
    font-size: 0.7em;
    margin-right: 5px;
  }

  .download-card img {
    width: 250px;
    height: 250px;
  }

  .download-btn {
    font-size: 0.6em;
    width: 280px;
    padding: 8px 10px;
  }
}

@media screen and (max-width: 490px) {
  .download-card {
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    justify-content: center;
  }

  .download-app {
    text-align: center;
  }

  .download-card2 {
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }
}

/* subscribe */
.subscribe {
  height: 300px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.subscribe-text {
  text-align: center;
  margin: 30px;
  line-height: 1.6;
}

.subscribe-email {
  background-color: rgb(228, 226, 226);
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
}

.subscribe-email input {
  outline: none;
  background-color: rgb(228, 226, 226);
  border: 1px grey solid;
  border-radius: 5px;
  width: 300px;
  height: 40px;
}

.subscribe-email input:focus {
  background-color: white;
}

.subscribe-email input::placeholder {
  color: black;
  padding-left: 3px;
}

.email-btn {
  margin-left: 10px;
  width: auto;
  background-color: rgb(8, 8, 151);
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  transition: all 0.5s;
}

@media screen and (max-width: 900px) {
  .subscribe {
    font-size: 0.8em;
    height: 230px;
  }

  .subscribe-email {
    padding: 8px 17px;
  }

  .subscribe-text {
    margin: 20px;
  }
}

@media screen and (max-width: 600px) {
  .subscribe-email {
    padding: 8px 17px;
  }

  .subscribe-email input {
    width: 80px;
    height: 20px;
  }

  .subscribe-email input::placeholder {
    color: black;
    padding-left: 0;
    font-size: 0.6em;
  }

  .email-btn {
    padding: 4px 8px;
    font-size: 0.6em;
  }
}

/* sponsors */

.sponsors {
  width: 100%;
  background-color: rgb(250, 249, 249);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
}

.sponsors p {
  font-size: 1em;
}

.sponsors-images {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sponsors-images img {
  height: 80px;
  width: auto;
  padding: 15px;
}

@media screen and (min-width: 671px) and (max-width: 900px) {
  .sponsors-images img {
    height: 65px;
  }
}

@media screen and (max-width: 670px) {
  .sponsors-images {
    flex-direction: column;
  }

  .sponsors-images img {
    height: 56px;
    margin-bottom: 10px;
  }
}

/* footer */

footer {
  background-color: black;
  padding: 30px;
  color: white;
  font-weight: 100;
}

.footer-main {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
}

.footer-card {
  width: 33%;
  margin: 0 10px;
}

.footer-brand {
  margin-bottom: 20px;
  color: white;
  font-size: 1.5em;
}

.card2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  height: 250px;
}

.card2 p {
  font-size: 0.8em;
  font-weight: 500;
}

.footer-card h4 {
  font-size: 1em;
  color: white;
  font-weight: bolder;
  position: relative;
  margin-bottom: 23px;
}

.footer-card h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: red;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-card ul li:not(:last-child) {
  margin-bottom: 6px;
}

.footer-card ul li {
  display: block;
}

.footer-card ul li a {
  font-size: 0.85em;
  color: grey;
  font-weight: 500;
}

.footer-card ul li a:hover {
  color: white;
}

footer i {
  font-size: 0.8em;
  margin-right: 10px;
  padding: 10px;
  border-radius: 100%;
  background-color: black;
  color: white;
  transition: all 0.5s;
}

footer i:hover {
  transform: scale(1.3, 1.3);
  color: black;
  background-color: white;
}

@media screen and (max-width: 730px) {
  .footer-card ul li a {
    font-size: 0.7em;
  }

  .footer-brand {
    font-size: 1em;
  }

  .card2 p {
    font-size: 0.7em;
  }

  .footer-card h4 {
    font-size: 0.8em;
    margin-bottom: 23px;
  }

  footer .brand {
    margin-left: 0px;
  }
}

@media screen and (max-width: 580px) {
  .footer-main {
    flex-direction: column;
    padding: 0;
  }

  .footer-card {
    margin: 0;
  }

  .card2 {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }

  .card2 p {
    width: 90%;
    margin-bottom: 15px;
  }

  .other-card {
    margin-bottom: 20px;
    width: 40%;
  }
}

.footer-credit {
  border-top: 3px solid white;
  background-color: black;
  color: white;
  width: 100%;
  display: grid;
  place-items: center;
  padding: 15px;
  font-size: 0.8rem;
}

.footer-credit a {
  color: yellow;
  font-size: 0.9rem;
  text-decoration: underline;
}

.footer-credit p {
  padding: 5px;
}

@media screen and (max-width: 730px) {
  .footer-credit {
    font-size: 0.6rem;
  }

  .footer-credit a {
    font-size: 0.7rem;
  }
}
